#tilemap {
    
}

.tileset-container_selection {
    position:absolute;
    outline: 3px;
    left:0;
    top:0;
    width: 128px;
    height: 128px;
}

.tileset-entry {
    background-color: white;
}

.tileset-entry:hover {
    background-color: var(--navbar-background);
}

.tileset-entry-selected {
    background-color: var(--navbar-background);
}

.cover-map {
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    opacity: 0;
}

.cover-map:hover {
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    opacity: 1;
}

.cover-map-tile{
    opacity: 0;
    background-color: orange;
}

.cover-map-tile:hover{
    opacity: 1;
    background-color: orange;
}

.cover-map-tile:hover{

}