:root {
    --swatch-foundation: #FFFFFF;
    --swatch-primary: #D9D9D9;
    --swatch-complement: #6A2C70;
    --navbar-background: rgb(224, 224, 224);
    --my-font-family: "Helvetica, Arial, sans-serif;";
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
body {
    background-color: var(--swatch-foundation);
}
/* remove browser default margin and padding*/
* {
    margin: 0;
    padding: 0;
}

#TWS-top-banner{
    background-color: var(--swatch-primary);
    font-family: var(--my-font-family);
    position: absolute;
    width: 100%;
    height:10%;
    font-size: 40px;
    font-weight:1000;
    color: var(--swatch-complement);
}

#TWS-home-page{
    font-family: var(--my-font-family);
    position: absolute;
    top:10%;
    width: 80%;
    height:100%;
    font-size: 40px;
    font-weight:1000;
    color: gray;
}

.overlay{
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.navbar{
    background-color: var(--navbar-background);
    border-bottom: 2px solid rgb(182, 182, 182);
}

.navbar-iconbuttons{
    
}

.search-bar{
    border: 1px solid var(--swatch-complement);
}

.md-icon{
    transform: scale(2.3);
}

.name-font{
    font-size:x-large;
}

.align-right{
    position: relative;
    float: right;
    padding-right: 10px;
}

.Homescreen-Main{
    padding: 1%;
    min-height: 90%;
}

.whole-page{
    display: block;
    position: relative;
    background-color: red;
}

.Homescreen-container{

}